.amazing-heading {
  color: black;
  font-size: 38px;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  letter-spacing: 7px;
  margin-bottom: 20px;
}

.batan.clicked {
  background-color: green;
}
